---

import NavLink from '@components/ui/NavLink.astro'

const navLinks = [
    { label: 'Home', href: '/'},
    { label: 'About', href: '/about'},
    { label: 'Work', href: '/work'},
    { label: 'Blog', href: '/blog'}
]
---

<header class="bg-slate-50 p-8 border-b">
    <nav>
        <ul class="flex gap-8">
            { navLinks.map( link => (
                <li><NavLink href={link.href} label={link.label} /></li> 
            ))}
        </ul>
    </nav>
</header>