---
import Container from '@/components/base/Container.astro';
import LogoLink from '@/components/base/LogoLink.astro';
import Nav from '@/components/base/Nav.astro';
---

<header class='py-4'>
  <Container>
    <div class='flex justify-between'>
      <LogoLink />
      <Nav />
    </div>
  </Container>
</header>
